<div class="inner">
	
	<header class="header">
		<h2 class="heading"><%= title %></h2>
	</header><!-- /header -->

	<section class="chart"></section>
	<section class="chart"></section>

	<section class="twitter__user">
		<section class="tweet">
			<span class="text"><%= status.text %></span>
		</section>

		<span class="value"><%= statuses_count %></span>
		<span class="title">Tweets</span>

		<span class="value"><%= followers_count %></span>
		<span class="title">Followers</span>

		<span class="value"><%= favourites_count %></span>
		<span class="title">Favorites</span>

	</section>

</div>